.d-flex {
  display: flex;
}

.a-center {
  align-items: center;
}

.j-center {
  justify-content: center;
}

svg {
  cursor: pointer;
}

.f-col {
  flex-direction: column;
}

.form {
  column-gap: 40px;
  width: 45%;
  position: relative;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu svg {
  font-size: 25px;
}

.form button {
  color: black;
  outline: none;
  border: none;
  padding: 8px;
  width: max-content;
  background-color: rgb(86, 228, 86);
  border-radius: 50%;
  position: absolute;
  right: 0;
  font-weight: bold;
  top: 0;
  margin-top: 2.5px;
}

.close-btn svg {
  font-size: 35px;
}

.form button svg {
  color: greenyellow;
}

.form input {
  outline: none;
  border: none;
  box-shadow: 0 4px 6px grey;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.todo-container {
  width: 60%;
  max-height: 40vh;
  overflow-y: scroll;
}

.list-container {
  width: 100%;
}

.task {
  column-gap: 50px;
  padding: 8px;
}

.checkbox {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
  background-color: yellow;
}

.task button {
  width: max-content;
  border: none;
  outline: none;
  padding: 8px;
  background-color: rgb(187, 75, 75);
  border-radius: 50%;
}

.task button svg {
  color: red;
}

.completed p {
  color: grey;
  text-decoration: line-through;
  font-style: italic;
}

.edit p {
  display: none;
}

.task div {
  width: 50%;
}

.task div p {
  width: 30vw;
  font-size: 20px;
  word-wrap: break-word;
}

.edit-text {
  width: 100%;
  padding: 10px;
  display: none;
  border: none;
  outline: none;
  font-size: 20px;
  box-shadow: 0 4px 6px grey;
  border-radius: 5px;
}

.completed button {
  display: none;
}

.edit .edit-text {
  display: flex;
}

.Navbar {
  position: absolute;
  left: 0;
  width: 20vw;
  height: 100vh;
  background-color: rgb(83, 223, 83);
  top: 0;
  z-index: 2;
  transform: translateX(-100%);
  row-gap: 30px;
  transition: ease-in-out 0.5s;
}

.show {
  transform: translateX(0);
}

.close-btn {
  position: absolute;
  top: 5%;
  left: 5%;
  background-color: transparent;
  border: none;
  outline: none;
  color: grey;
}

.nav-links {
  row-gap: 50px;
  color: azure;
  font-size: 30px;
  font-weight: 700;
}

.nav-links :hover {
  color: black;
}

.close-btn svg:hover {
  color: black;
}

.header {
  font-size: 70px;
  color: grey;
}

.nav-link {
  text-decoration: none;
  color: antiquewhite;
}

.menu {
  top: 5%;
  left: 5%;
  border: none;
  outline: none;
  color: grey;
  position: absolute;
  background-color: transparent;
}

.about-page {
  margin-top: 180px;
  row-gap: 10px;
}
