* {
  padding: 0;
  margin: 0;
}

.app {
  margin-top: 10%;
  width: 100vw;
  row-gap: 20px;
}

.clr-btn {
  width: 30%;
  padding: 12px;
  font-size: 20px;
  text-transform: capitalize;
  background-color: darkgreen;
  border: none;
  outline: none;
  box-shadow: 0 4px 6px black;
}

.hide-btn {
  display: none;
}